openapi: 3.1.0
info:
  title: Fintoro API v1
  version: "1.0.0"
  description: |
    Fintoro API v1 is a REST API for integrating Fintoro invoicing, CRM, and warehouse workflows into third-party systems.

    Production and sandbox companies use the same base URL `https://app.fintoro.sk/api/public/v1`. The bearer token decides which company you work with.

    The optional `Accept-Language` request header localizes system-owned labels in lookups, in related response objects, and in validation errors. The `Content-Language` response header returns the language used in the response.

    For onboarding and operational guidance, also see:
    - [Getting started](/en/getting-started)
    - [Authentication](/en/authentication)
    - [Webhooks](/en/webhooks)
    - [Sandbox testing](/en/sandbox-testing)
    - [API conventions](/en/conventions)
    - [Errors and idempotency](/en/errors-and-idempotency)
servers:
  - url: https://app.fintoro.sk/api/public/v1
    description: Production Fintoro API.
security:
  - bearerAuth: []
x-tagGroups:
  - name: Integration basics
    tags:
      - Token identity
      - Lookups
      - Numerical Series
      - Subjects
      - Clients
      - Suppliers
      - Bank Accounts
  - name: Webhooks
    tags:
      - Webhooks
  - name: CRM
    tags:
      - Business Case Statuses
      - Business Cases
      - CRM Events
  - name: Warehouses and catalog
    tags:
      - Warehouses
      - Warehouse Inbound Receipts
      - Warehouse Outbound Receipts
      - Price List Items
  - name: Documents
    tags:
      - Invoices
      - Credit Notes
      - Proformas
      - Orders
      - Quotations
      - Document Payments
      - Document Emails
tags:
  - name: Token identity
    description: Technical read-only endpoint that confirms which company the current bearer token belongs to.
  - name: Lookups
    description: Read-only lookup endpoints for integration data. These endpoints return lookup datasets with stable IDs that are safe to cache on your side. When new lookup values are added, existing IDs do not change or get reassigned.
  - name: Numerical Series
    description: Read-only endpoints for numerical series. They return the live configuration used when creating documents, including the next generated document number and variable symbol.
  - name: Subjects
    description: Look up and verify subject details before creating a client.
  - name: Clients
    description: Manage clients, including billing address, delivery address, and client-scoped default values that can be reused when building payloads for new documents. Create, update, and delete operations can emit `clients.created`, `clients.updated`, and `clients.deleted` webhook events.
  - name: Suppliers
    description: Manage suppliers, including billing address and identifier data used by the warehouse inbound resolve-or-create flow. Create, update, and delete operations can emit `suppliers.created`, `suppliers.updated`, and `suppliers.deleted` webhook events.
  - name: Business Case Statuses
    description: Manage business-case statuses. Statuses represent pipeline columns. In this API version, a reorder endpoint is not available; when a status is deleted, linked business cases are detached to `null`. Create, update, and delete operations can emit `business-case-statuses.created`, `business-case-statuses.updated`, and `business-case-statuses.deleted` webhook events.
  - name: Business Cases
    description: Manage business cases, including the nested client or supplier and an optional status. Reorder flows and changing the linked contact through update are not available in this API version. Create, update, and delete operations can emit `business-cases.created`, `business-cases.updated`, and `business-cases.deleted` webhook events.
  - name: CRM Events
    description: Manage CRM events for `note`, `email`, `phone_call`, and `document_linked`. Attachments use a separate two-step upload endpoint. Create, update, and delete operations can emit `contact-activity-logs.created`, `contact-activity-logs.updated`, and `contact-activity-logs.deleted` webhook events.
  - name: Bank Accounts
    description: Manage bank accounts, including bank details, primary account state, and open banking metadata. Create, update, and delete operations can emit `bank-accounts.created`, `bank-accounts.updated`, and `bank-accounts.deleted` webhook events.
  - name: Webhooks
    description: Manage outbound webhook subscriptions for Fintoro API. This section covers subscription CRUD, manual secret rotation, and the delivery payload contract for event-driven integrations. The delivery contract, signature verification, retry behavior, and full event catalog are documented in the [Webhooks guide](/en/webhooks).
  - name: Warehouses
    description: CRUD operations for warehouses, including inbound and outbound numbering series. Create, update, and delete operations can emit `warehouses.created`, `warehouses.updated`, and `warehouses.deleted` webhook events.
  - name: Warehouse Inbound Receipts
    description: CRUD operations for warehouse inbound receipts, including warehouse detail, supplier snapshot, receipt items, and `pdfDownloadUrl`. Create, update, and delete operations can emit `warehouse-inbound-receipts.created`, `warehouse-inbound-receipts.updated`, and `warehouse-inbound-receipts.deleted` webhook events.
  - name: Warehouse Outbound Receipts
    description: CRUD operations for warehouse outbound receipts, including warehouse detail, client snapshot, receipt items, and `pdfDownloadUrl`. Create and update use the same stock-availability validation as the web. Create, update, and delete operations can emit `warehouse-outbound-receipts.created`, `warehouse-outbound-receipts.updated`, and `warehouse-outbound-receipts.deleted` webhook events.
  - name: Price List Items
    description: >-
      CRUD operations for price list and warehouse items. These endpoints return the unit as a nested object,
      support filtering by name, EAN, warehouse code, price, and stock, and expose the same business contract that Fintoro uses for
      warehouse tracking, EANs, and purchase prices. Create, update, and delete operations can emit `price-list-items.created`,
      `price-list-items.updated`, and `price-list-items.deleted` webhook events.
  - name: Document Payments
    description: >-
      Payment records for public documents. This section covers listing payments of one document, creating a new
      payment, showing one payment, and deleting it. Supported document types are `invoice`, `proforma`, `credit-note`,
      `received-invoice`, and `received-receipt`. Create and delete operations can emit `document-payments.created`
      and `document-payments.deleted` webhook events. When a newly recorded payment makes a supported document fully paid,
      Fintoro can also emit the matching `*.paid` event for that document resource.
  - name: Document Emails
    description: >-
      Send supported public documents by email. The endpoint uses a single contract around
      `documentType` + `documentId`, validates document ownership, and supports `invoice`, `proforma`, `order`,
      `credit-note`, and `quotation`.
  - name: Invoices
    description: CRUD operations for invoices. Create, update, and delete operations can emit `invoices.created`, `invoices.updated`, and `invoices.deleted` webhook events. When a recorded payment makes the invoice fully paid, Fintoro can also emit `invoices.paid`.
  - name: Credit Notes
    description: >-
      CRUD operations for credit notes. The contract uses camelCase payloads, a full `PUT` update flow, and an
      explicit link to the original invoice through `invoiceId`. The credit-note client is always derived from the selected source invoice;
      `clientId` is not part of the request contract, and inline client resolution or create behavior is not supported here. Create,
      update, and delete operations can emit `credit-notes.created`, `credit-notes.updated`, and `credit-notes.deleted` webhook events.
      When a recorded payment makes the credit note fully paid, Fintoro can also emit `credit-notes.paid`.
  - name: Proformas
    description: >-
      CRUD operations for proformas. The contract follows the same philosophy as the public invoice API:
      camelCase payloads, deterministic client resolve/create behavior, create-like defaults, and a full `PUT` update flow with no
      patch fallback to the previous persisted document state. Create, update, and delete operations can emit `proformas.created`,
      `proformas.updated`, `proformas.deleted`, and, when a recorded payment makes the document fully paid, `proformas.paid`.
  - name: Orders
    description: >-
      CRUD operations for orders. The contract uses camelCase payloads, deterministic client resolve/create
      behavior, create-like defaults, and a full `PUT` update flow with no patch fallback to the previous persisted document state.
      Create, update, and delete operations can emit `orders.created`, `orders.updated`, and `orders.deleted` webhook events.
  - name: Quotations
    description: >-
      CRUD operations for quotations. The contract uses camelCase payloads, deterministic client
      resolve/create behavior, create-like defaults, and a full `PUT` update flow with no patch fallback to the previous persisted
      document state. Create, update, and delete operations can emit `quotations.created`, `quotations.updated`, and
      `quotations.deleted` webhook events.
paths:
  /whoami:
    get:
      tags: [Token identity]
      summary: Current company identity
      operationId: showWhoami
      description: Returns the minimal identity of the company assigned to the bearer token. Use this endpoint to quickly confirm that your integration is operating against the expected production or sandbox company without fetching additional business data.
      responses:
        '200':
          description: Identity of the current company.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Whoami'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /banks:
    get:
      tags: [Lookups]
      summary: List banks
      operationId: listBanks
      description: Returns the list of banks you can use when creating or updating a bank account. The endpoint does not support filtering or pagination and returns the full lookup dataset. Treat banks as a stable lookup; new records may be added over time, while existing IDs remain preserved for compatibility with stored bank accounts.
      responses:
        '200':
          description: Bank list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Full current list of banks available for bank accounts.
                    type: array
                    items:
                      $ref: '#/components/schemas/Bank'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /countries:
    get:
      tags: [Lookups]
      summary: List countries
      operationId: listCountries
      description: Returns the fixed country lookup. The endpoint does not support filtering or pagination and returns the full dataset. Country IDs are stable within this API version and are also listed in the [country reference table](/en/reference-tables#countries). Labels can be localized through `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Country list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Full list of countries available in this API version.
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /languages:
    get:
      tags: [Lookups]
      summary: List languages
      operationId: listLanguages
      description: Returns the fixed language lookup. The endpoint does not support filtering or pagination and returns the full dataset. Language IDs are stable within this API version and are also listed in the [language reference table](/en/reference-tables#languages). Labels can be localized through `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Language list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Full list of languages available in this API version.
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /currencies:
    get:
      tags: [Lookups]
      summary: List currencies
      operationId: listCurrencies
      description: Returns the fixed currency lookup. The endpoint does not support filtering or pagination and returns the full dataset. Currency IDs are stable within this API version and are also listed in the [currency reference table](/en/reference-tables#currencies). Labels can be localized through `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Currency list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Full list of currencies available in this API version.
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delivery-methods:
    get:
      tags: [Lookups]
      summary: List delivery methods
      operationId: listDeliveryMethods
      description: Returns the fixed delivery-method lookup. The endpoint does not support filtering or pagination and returns the full dataset. Delivery-method IDs are stable within this API version and are also listed in the [delivery method reference table](/en/reference-tables#delivery-methods). Labels can be localized through `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Delivery method list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Full list of delivery methods available in this API version.
                    type: array
                    items:
                      $ref: '#/components/schemas/DeliveryMethod'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /payment-methods:
    get:
      tags: [Lookups]
      summary: List payment methods
      operationId: listPaymentMethods
      description: Returns the fixed payment-method lookup. The endpoint does not support filtering or pagination and returns the full dataset. Payment-method IDs are stable within this API version and are also listed in the [payment method reference table](/en/reference-tables#payment-methods). Labels can be localized through `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Payment method list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Full list of payment methods available in this API version.
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /qr-types:
    get:
      tags: [Lookups]
      summary: List QR types
      operationId: listQrTypes
      description: Returns the fixed QR-type lookup. The endpoint does not support filtering or pagination and returns the full dataset. QR-type IDs are stable within this API version and are also listed in the [QR type reference table](/en/reference-tables#qr-types). Labels can be localized through `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: QR type list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Full list of QR types available in this API version.
                    type: array
                    items:
                      $ref: '#/components/schemas/QrType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /units:
    get:
      tags: [Lookups]
      summary: List units
      operationId: listUnits
      description: Returns the fixed unit lookup. The endpoint does not support filtering or pagination and returns the full dataset. Unit IDs are stable within this API version and are also listed in the [unit reference table](/en/reference-tables#units). Labels can be localized through `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Unit list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Full list of units available in this API version.
                    type: array
                    items:
                      $ref: '#/components/schemas/Unit'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /numerical-series:
    get:
      tags: [Numerical Series]
      summary: List numerical series
      operationId: listNumericalSeries
      description: Returns the numerical series used for creating public documents. The endpoint does not paginate; it returns the full relevant dataset for the supported document type provided in the required `documentType` query parameter. Supported values are `invoice`, `proforma`, `credit-note`, `order`, and `quotation`. In addition to the internal counter `nextNumber`, the response also includes `nextDocumentNumber` and `nextVariableSymbol`, so an integrator can see in advance which document number and variable symbol would be generated from a given series.
      parameters:
        - in: query
          name: documentType
          required: true
          description: Required document type for which the relevant numerical series dataset should be returned.
          schema:
            type: string
            enum: [invoice, proforma, credit-note, order, quotation]
          example: invoice
      responses:
        '200':
          description: Numerical series list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Full list of numerical series for the requested document type.
                    type: array
                    items:
                      $ref: '#/components/schemas/NumericalSeries'
        '422':
          description: The query parameter failed validation rules.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /numerical-series/{numericalSeries}:
    parameters:
      - $ref: '#/components/parameters/NumericalSeriesId'
    get:
      tags: [Numerical Series]
      summary: Show numerical series
      operationId: showNumericalSeries
      description: Returns the detail of one numerical series in the same shape as the list endpoint. This is useful when you want to store a concrete `numericalSeriesId` and later verify or reload it before creating a document.
      responses:
        '200':
          description: Numerical series detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumericalSeries'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /subjects:
    get:
      tags: [Subjects]
      summary: Search subjects
      operationId: searchSubjects
      description: Use this endpoint when you want to prefill company or freelancer details by name or business ID.
      parameters:
        - name: searchQuery
          in: query
          required: true
          description: Search string. This can be a company name or a business ID. Minimum length is 3 characters.
          schema:
            type: string
            minLength: 3
            example: acme
        - name: legalForm
          in: query
          required: false
          description: Optional legal form filter if you want to narrow the results to companies or freelancers only.
          schema:
            type: string
            enum: [freelancer, company]
            example: company
        - name: limit
          in: query
          required: false
          description: Maximum number of results returned by the endpoint.
          schema:
            type: integer
            minimum: 1
            maximum: 20
            example: 5
      responses:
        '200':
          description: Returns matching subjects from the reference registry.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: List of matching subjects.
                    type: array
                    items:
                      $ref: '#/components/schemas/Subject'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /subjects/{subject}:
    parameters:
      - $ref: '#/components/parameters/SubjectId'
    get:
      tags: [Subjects]
      summary: Show subject
      operationId: showSubject
      description: Returns a single subject from the reference registry by its ID.
      responses:
        '200':
          description: Returns the requested subject.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /clients:
    get:
      tags: [Clients]
      summary: List clients
      operationId: listClients
      description: Returns clients. This endpoint is suitable for syncing clients into an external system or custom frontend and supports basic full-text search, filtering, and sorting.
      parameters:
        - name: search
          in: query
          required: false
          description: Full-text search by name, city, ZIP code, or country.
          schema:
            type: string
            example: bratislava
        - name: sortBy
          in: query
          required: false
          description: Field used to sort clients.
          schema:
            type: string
            enum: [name, city, zip, countryId, createdAt, updatedAt]
            example: name
            default: name
        - name: sortDirection
          in: query
          required: false
          description: Sort direction.
          schema:
            type: string
            enum: [asc, desc]
            example: desc
            default: asc
        - name: type
          in: query
          required: false
          description: Filter by client type.
          schema:
            type: string
            enum: [person, company]
            example: company
        - name: subjectId
          in: query
          required: false
          description: Filter by the client's or company's business ID.
          schema:
            type: string
            example: '12345678'
        - name: taxId
          in: query
          required: false
          description: Filter by the client's or company's tax ID.
          schema:
            type: string
            example: '2020123456'
        - name: vatId
          in: query
          required: false
          description: Filter by the client's or company's VAT ID.
          schema:
            type: string
            example: SK2020123456
        - name: countryId
          in: query
          required: false
          description: "Filter by the client's billing country from the [country reference table](/en/reference-tables#countries)."
          schema:
            type: integer
            example: 703
      responses:
        '200':
          description: Client list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: List of clients.
                    type: array
                    items:
                      $ref: '#/components/schemas/Client'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Clients]
      summary: Create client
      operationId: createClient
      description: Creates a new client. The request contains the client's business data and optional client-scoped default values that you can later reuse when building payloads for new documents. If you send an `Idempotency-Key`, the same key with the same payload returns the original response without creating the client again.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreateInput'
      responses:
        '201':
          description: Client created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: The original idempotency key when it was provided in the request.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` for the first processed request or `Repeated` when the original response is replayed.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '422':
          description: The idempotency key was reused with a different payload.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Idempotency-Key reused with different request payload
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /clients/{client}:
    parameters:
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Clients]
      summary: Show client
      operationId: showClient
      description: Returns a single client, including nested countries and client-scoped default values that you can reuse when creating new documents.
      responses:
        '200':
          description: Client detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Clients]
      summary: Update client
      operationId: updateClient
      description: Updates a client via a full `PUT` payload. Send the same fields as during client creation. The endpoint does not hydrate omitted fields from the existing client; if you omit an optional field, it is stored as its create default or `null`, following the create contract. Delivery address fields and inferred values follow the same behavior as during client creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreateInput'
      responses:
        '200':
          description: Client updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Clients]
      summary: Delete client
      operationId: deleteClient
      description: Deletes a client. The endpoint does not return a response body after a successful delete.
      responses:
        '204':
          description: Client deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /suppliers:
    get:
      tags: [Suppliers]
      summary: List suppliers
      operationId: listSuppliers
      description: Returns suppliers. The endpoint is suitable for syncing suppliers into an external system or your own frontend and supports basic full-text search and sorting.
      parameters:
        - name: search
          in: query
          required: false
          description: Full-text search by name, city, ZIP code, or country.
          schema:
            type: string
            example: bratislava
        - name: sortBy
          in: query
          required: false
          description: Field used for sorting suppliers.
          schema:
            type: string
            enum: [name, city, zip, createdAt, updatedAt]
            example: name
            default: name
        - name: sortDirection
          in: query
          required: false
          description: Sorting direction.
          schema:
            type: string
            enum: [asc, desc]
            example: desc
            default: asc
      responses:
        '200':
          description: Supplier list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Suppliers.
                    type: array
                    items:
                      $ref: '#/components/schemas/Supplier'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Suppliers]
      summary: Create supplier
      operationId: createSupplier
      description: Creates a new supplier. If you omit `type`, the backend infers it from `subjectId`, `taxId`, and `vatId`. If you omit `isVatPayer`, the backend infers it from `vatId`. If you send `Idempotency-Key`, the same key with the same payload returns the original response instead of creating a duplicate supplier.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierCreateInput'
      responses:
        '201':
          description: Supplier created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Original idempotency key if it was sent in the request.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` for the first processing or `Repeated` when the original response is returned.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '422':
          description: Validation error or reusing the idempotency key with a different payload.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  error:
                    type: [string, 'null']
                    example: Idempotency-Key reused with different request payload
                  errors:
                    type: [object, 'null']
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /suppliers/{supplier}:
    parameters:
      - $ref: '#/components/parameters/SupplierId'
    get:
      tags: [Suppliers]
      summary: Show supplier
      operationId: showSupplier
      description: Returns a single supplier, including the nested country object.
      responses:
        '200':
          description: Supplier detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Suppliers]
      summary: Update supplier
      operationId: updateSupplier
      description: Updates a supplier with a full `PUT` payload. Send the complete payload in the same shape as supplier creation. The backend does not hydrate omitted fields from the existing supplier. The inferred `type` and `isVatPayer` behavior matches supplier creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierCreateInput'
      responses:
        '200':
          description: Supplier updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Suppliers]
      summary: Delete supplier
      operationId: deleteSupplier
      description: Deletes a supplier. The endpoint does not return a response body after a successful delete.
      responses:
        '204':
          description: Supplier deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /business-case-statuses:
    get:
      tags: [Business Case Statuses]
      summary: List business-case statuses
      operationId: listBusinessCaseStatuses
      description: Returns all business-case statuses ordered by their pipeline position. The endpoint does not support filtering or pagination and is primarily intended for syncing pipeline columns into an external CRM or custom frontend.
      responses:
        '200':
          description: Business-case status list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: List of all statuses.
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessCaseStatus'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Business Case Statuses]
      summary: Create business-case status
      operationId: createBusinessCaseStatus
      description: Creates a new business-case status. The new status is appended to the end of the existing pipeline. If you send an `Idempotency-Key`, repeating the same create call with the same key and identical payload returns the original response without creating the status again.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCaseStatusInput'
      responses:
        '201':
          description: Business-case status created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: The original idempotency key when it was provided in the request.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` for the first processed request or `Repeated` when the original response is replayed.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCaseStatus'
        '422':
          description: Validation error or idempotency key reuse with a different payload.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: The given data was invalid.
                      errors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: string
                  - type: object
                    properties:
                      error:
                        type: string
                        example: Idempotency-Key reused with different request payload
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /business-case-statuses/{businessCaseStatus}:
    parameters:
      - $ref: '#/components/parameters/BusinessCaseStatusId'
    get:
      tags: [Business Case Statuses]
      summary: Show business-case status
      operationId: showBusinessCaseStatus
      description: Returns the detail of one business-case status.
      responses:
        '200':
          description: Business-case status detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCaseStatus'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Business Case Statuses]
      summary: Update business-case status
      operationId: updateBusinessCaseStatus
      description: Updates one business-case status. The payload is a full `PUT` contract and requires both `name` and `color`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCaseStatusInput'
      responses:
        '200':
          description: Business-case status updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCaseStatus'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Request payload validation error.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Business Case Statuses]
      summary: Delete business-case status
      operationId: deleteBusinessCaseStatus
      description: Deletes a business-case status. The endpoint does not return a response body after a successful delete. Linked business cases remain preserved and their `statusId` is automatically set to `null`.
      responses:
        '204':
          description: Business-case status deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /business-cases:
    get:
      tags: [Business Cases]
      summary: List business cases
      operationId: listBusinessCases
      description: Returns business cases. The endpoint supports filtering by client, supplier, status, and full-text search in the business-case name or description. The response always returns the nested client or supplier based on the stored record, an optional nested status, and paginator metadata.
      parameters:
        - name: clientId
          in: query
          required: false
          description: "Filter by a client. This field is mutually exclusive with `supplierId`."
          schema:
            type: integer
            example: 101
        - name: supplierId
          in: query
          required: false
          description: "Filter by a supplier. This field is mutually exclusive with `clientId`."
          schema:
            type: integer
            example: 151
        - name: statusId
          in: query
          required: false
          description: Filter by a business-case status.
          schema:
            type: [integer, 'null']
            example: 41
        - name: search
          in: query
          required: false
          description: Full-text search by business-case name or description.
          schema:
            type: string
            maxLength: 255
            example: keyword
        - name: sortBy
          in: query
          required: false
          description: Field used to sort business cases.
          schema:
            type: string
            enum: [name, createdAt, updatedAt, boardPosition]
            example: updatedAt
            default: id
        - name: sortDirection
          in: query
          required: false
          description: Sort direction.
          schema:
            type: string
            enum: [asc, desc]
            example: desc
            default: desc
        - name: perPage
          in: query
          required: false
          description: Number of results per page. Maximum is 200.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 10
            default: 10
        - name: page
          in: query
          required: false
          description: Page number to return.
          schema:
            type: integer
            minimum: 1
            example: 1
            default: 1
      responses:
        '200':
          description: Business-case list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: List of business cases.
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessCase'
                  paginator:
                    description: Paginator for the current result set.
                    $ref: '#/components/schemas/Paginator'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Query parameter validation error.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Business Cases]
      summary: Create business case
      operationId: createBusinessCase
      description: Creates a new business case. You must send exactly one of `clientId` or `supplierId`. `statusId` is optional and may be `null`. If you send an `Idempotency-Key`, repeating the same create call with the same key and identical payload returns the original response without creating the case again.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCaseCreateInput'
      responses:
        '201':
          description: Business case created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: The original idempotency key when it was provided in the request.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` for the first processed request or `Repeated` when the original response is replayed.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCase'
        '422':
          description: Validation error or idempotency key reuse with a different payload.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: The given data was invalid.
                      errors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: string
                  - type: object
                    properties:
                      error:
                        type: string
                        example: Idempotency-Key reused with different request payload
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /business-cases/{businessCase}:
    parameters:
      - $ref: '#/components/parameters/BusinessCaseId'
    get:
      tags: [Business Cases]
      summary: Show business case
      operationId: showBusinessCase
      description: Returns one business case, including the nested client or supplier and an optional status.
      responses:
        '200':
          description: Business-case detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCase'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      tags: [Business Cases]
      summary: Update business case
      operationId: updateBusinessCase
      description: Partially updates a business case. You can change `name`, `description`, and `statusId`, and `statusId` may also be `null`. This endpoint does not change the linked client or supplier; sending `clientId` or `supplierId` during update returns a validation error.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCaseUpdateInput'
      responses:
        '200':
          description: Business case updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCase'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Request payload validation error.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Business Cases]
      summary: Delete business case
      operationId: deleteBusinessCase
      description: Deletes a business case. The endpoint does not return a response body after a successful delete.
      responses:
        '204':
          description: Business case deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact-activity-attachments:
    post:
      tags: [CRM Events]
      summary: Upload CRM event attachments
      operationId: uploadContactActivityAttachments
      description: Uploads one or more attachments into temporary storage and returns `uploadToken` values that can later be used in `attachmentUploadTokens[]` when creating or updating `contact-activity-logs`. This endpoint uses `multipart/form-data` and does not accept Filepond server IDs.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [files]
              properties:
                files:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: binary
      responses:
        '201':
          description: Temporary upload tokens for the uploaded attachments.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactActivityLogAttachmentUpload'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Multipart payload validation error.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact-activity-logs:
    get:
      tags: [CRM Events]
      summary: List CRM events
      operationId: listContactActivityLogs
      description: Returns CRM events. The query must contain exactly one target field out of `businessCaseId`, `clientId`, or `supplierId`. You can optionally filter by `type` and paginate with `perPage` and `page`.
      parameters:
        - name: businessCaseId
          in: query
          required: false
          description: ID of a business case. Mutually exclusive with `clientId` and `supplierId`.
          schema:
            type: integer
            example: 501
        - name: clientId
          in: query
          required: false
          description: ID of a client. Mutually exclusive with `businessCaseId` and `supplierId`.
          schema:
            type: integer
            example: 101
        - name: supplierId
          in: query
          required: false
          description: ID of a supplier. Mutually exclusive with `businessCaseId` and `clientId`.
          schema:
            type: integer
            example: 151
        - name: type
          in: query
          required: false
          description: Optional filter by CRM event type.
          schema:
            type: string
            enum: [note, email, phone_call, document_linked]
            example: note
        - name: perPage
          in: query
          required: false
          description: Number of results per page. Maximum is 200.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 10
            default: 10
        - name: page
          in: query
          required: false
          description: Page number to return.
          schema:
            type: integer
            minimum: 1
            example: 1
            default: 1
      responses:
        '200':
          description: CRM event list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactActivityLog'
                  paginator:
                    $ref: '#/components/schemas/Paginator'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Query parameter validation error.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [CRM Events]
      summary: Create a CRM event
      operationId: createContactActivityLog
      description: >-
        Creates a new CRM event. You must send exactly one target field from `businessCaseId`,
        `clientId`, or `supplierId`, together with `type`, `metadata`, and optional `attachmentUploadTokens[]`.
        For `document_linked`, use `metadata.documentType` and `metadata.documentId`; attachments are not supported
        for that type. If you send an `Idempotency-Key`, a repeated create call with the same key and identical payload
        returns the original response instead of creating a duplicate event. Metadata field availability is documented
        directly on `metadata.content`, `metadata.email`, `metadata.personName`, `metadata.phoneNumber`,
        `metadata.documentType`, and `metadata.documentId`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactActivityLogCreateInput'
      responses:
        '201':
          description: CRM event created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: The original idempotency key when it was provided in the request.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` for the first processing or `Repeated` when the original response is returned.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactActivityLog'
        '422':
          description: Validation error or idempotency key reused with a different payload.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: The given data was invalid.
                      errors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: string
                  - type: object
                    properties:
                      error:
                        type: string
                        example: Idempotency-Key reused with different request payload
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact-activity-logs/{contactActivityLog}:
    parameters:
      - $ref: '#/components/parameters/ContactActivityLogId'
    get:
      tags: [CRM Events]
      summary: CRM event detail
      operationId: showContactActivityLog
      description: Returns the detail of a single CRM event, including metadata and attachments.
      responses:
        '200':
          description: CRM event detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactActivityLog'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      tags: [CRM Events]
      summary: Update a CRM event
      operationId: updateContactActivityLog
      description: >-
        Partially updates a CRM event. Only `metadata`, optional new `attachmentUploadTokens[]`,
        and optional `deletedAttachmentIds[]` are mutable; `type` and target fields are forbidden on update.
        Attachments are not supported for the `document_linked` type. Metadata field availability is documented
        directly on `metadata.content`, `metadata.email`, `metadata.personName`, `metadata.phoneNumber`,
        `metadata.documentType`, and `metadata.documentId`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactActivityLogUpdateInput'
      responses:
        '200':
          description: CRM event updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactActivityLog'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Request payload validation error.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [CRM Events]
      summary: Delete a CRM event
      operationId: deleteContactActivityLog
      description: Deletes a CRM event. The endpoint returns no response body on success.
      responses:
        '204':
          description: CRM event deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact-activity-logs/{contactActivityLog}/attachments:
    parameters:
      - $ref: '#/components/parameters/ContactActivityLogId'
    get:
      tags: [CRM Events]
      summary: Download CRM event attachments
      operationId: downloadContactActivityLogAttachments
      description: Returns a ZIP stream with the attachments of the given CRM event. The endpoint returns `404` when the event has no attachments.
      responses:
        '200':
          description: ZIP archive with CRM event attachments.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bank-accounts:
    get:
      tags: [Bank Accounts]
      summary: List bank accounts
      operationId: listBankAccounts
      description: Returns all bank accounts in a single list. This endpoint does not support filtering or pagination, so it is primarily useful for syncing accounts into an external system or custom frontend.
      responses:
        '200':
          description: Bank account list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: List of all bank accounts.
                    type: array
                    items:
                      $ref: '#/components/schemas/BankAccount'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Bank Accounts]
      summary: Create bank account
      operationId: createBankAccount
      description: Creates a new bank account. Send only the business fields of the account. In the current implementation, every newly created bank account becomes the company's primary account, so this state is not part of the create payload. The response returns the stored object, including whether the account is currently primary and whether it is connected to open banking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountCreateInput'
      responses:
        '201':
          description: Bank account created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bank-accounts/{bankAccount}:
    parameters:
      - $ref: '#/components/parameters/BankAccountId'
    get:
      tags: [Bank Accounts]
      summary: Show bank account
      operationId: showBankAccount
      description: Returns one bank account. In addition to the account fields, the response includes the nested bank object, primary account state, and open banking metadata when available.
      responses:
        '200':
          description: Bank account detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      tags: [Bank Accounts]
      summary: Update bank account
      operationId: updateBankAccount
      description: |
        Updates a bank account. Send only the fields you want to change.
        If you send `isPrimary: true`, the account becomes the company's primary bank account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountUpdateInput'
      responses:
        '200':
          description: Bank account updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Bank Accounts]
      summary: Delete bank account
      operationId: deleteBankAccount
      description: Deletes a bank account. The endpoint does not return a response body after a successful delete.
      responses:
        '204':
          description: Bank account deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouses:
    get:
      tags: [Warehouses]
      summary: List warehouses
      operationId: listWarehouses
      description: Returns all warehouses in a single list. The endpoint does not support filtering or pagination, so it is best suited for synchronizing warehouses into an external system or custom frontend.
      responses:
        '200':
          description: List of warehouses.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: List of all warehouses.
                    type: array
                    items:
                      $ref: '#/components/schemas/Warehouse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Warehouses]
      summary: Create warehouse
      operationId: createWarehouse
      description: Creates a new warehouse including its inbound and outbound numbering series. The response returns the final persisted warehouse object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseCreateInput'
      responses:
        '201':
          description: Warehouse created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouses/{warehouse}:
    parameters:
      - $ref: '#/components/parameters/WarehouseId'
    get:
      tags: [Warehouses]
      summary: Show warehouse
      operationId: showWarehouse
      description: Returns one warehouse including its full inbound and outbound numbering-series configuration.
      responses:
        '200':
          description: Warehouse detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Warehouses]
      summary: Update warehouse
      operationId: updateWarehouse
      description: Updates a warehouse. The Fintoro API uses a full `PUT` contract, so send the entire warehouse payload including numbering-series values.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseUpdateInput'
      responses:
        '200':
          description: Warehouse updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Warehouses]
      summary: Delete warehouse
      operationId: deleteWarehouse
      description: Deletes a warehouse. The last warehouse of the company cannot be deleted; in that case, the endpoint returns `422`.
      responses:
        '204':
          description: Warehouse deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-inbound-receipts:
    get:
      tags: [Warehouse Inbound Receipts]
      summary: List warehouse inbound receipts
      operationId: listWarehouseInboundReceipts
      description: Returns a paginated list of warehouse inbound receipts. The endpoint supports filtering by warehouse, supplier, and receipt number.
      parameters:
        - in: query
          name: warehouseId
          required: false
          description: Optional filter by a warehouse.
          schema:
            type: integer
          example: 301
        - in: query
          name: supplierId
          required: false
          description: Optional filter by a supplier.
          schema:
            type: integer
          example: 401
        - in: query
          name: number
          required: false
          description: Optional substring filter by inbound receipt number.
          schema:
            type: string
          example: INB-2026
        - in: query
          name: sortBy
          required: false
          description: Field used to sort the result set.
          schema:
            type: string
            enum: [number, issue_date, created_at, updated_at]
          example: number
        - in: query
          name: sortDirection
          required: false
          description: Sort direction.
          schema:
            type: string
            enum: [asc, desc]
          example: asc
        - in: query
          name: perPage
          required: false
          description: Number of results per page.
          schema:
            type: integer
            minimum: 1
            maximum: 200
          example: 25
        - in: query
          name: page
          required: false
          description: Page number.
          schema:
            type: integer
            minimum: 1
          example: 2
      responses:
        '200':
          description: Warehouse inbound receipt list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Warehouse inbound receipts in the full detail resource shape.
                    type: array
                    items:
                      $ref: '#/components/schemas/WarehouseInboundReceipt'
                  paginator:
                    description: Paginator for the current result set.
                    $ref: '#/components/schemas/Paginator'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Warehouse Inbound Receipts]
      summary: Create warehouse inbound receipt
      operationId: createWarehouseInboundReceipt
      description: >-
        Creates a new warehouse inbound receipt. If you send `supplierId`, the existing
        supplier is used. If you omit `supplierId` and send the `supplier` object, the backend resolves or creates
        the supplier from that payload. If you send an `Idempotency-Key`, repeating the create request with the same
        payload returns the original response.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseInboundReceiptCreateInput'
      responses:
        '201':
          description: Warehouse inbound receipt created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Original idempotency key when it was provided in the request.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` for the first processed request or `Repeated` when the original response is replayed.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseInboundReceipt'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-inbound-receipts/{warehouseInboundReceipt}:
    parameters:
      - $ref: '#/components/parameters/WarehouseInboundReceiptId'
    get:
      tags: [Warehouse Inbound Receipts]
      summary: Show warehouse inbound receipt
      operationId: showWarehouseInboundReceipt
      description: Returns one warehouse inbound receipt including warehouse detail, supplier snapshot, items, and `pdfDownloadUrl`.
      responses:
        '200':
          description: Warehouse inbound receipt detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseInboundReceipt'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Warehouse Inbound Receipts]
      summary: Update warehouse inbound receipt
      operationId: updateWarehouseInboundReceipt
      description: >-
        Updates an existing warehouse inbound receipt. The Fintoro API uses a full `PUT`
        contract, so send the full header and item payload. The partner flow matches create:
        `supplierId` uses an existing supplier, while `supplier` without `supplierId` triggers resolve-or-create.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseInboundReceiptUpdateInput'
      responses:
        '200':
          description: Warehouse inbound receipt updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseInboundReceipt'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Warehouse Inbound Receipts]
      summary: Delete warehouse inbound receipt
      operationId: deleteWarehouseInboundReceipt
      description: Deletes a warehouse inbound receipt. The endpoint does not return a response body after a successful delete.
      responses:
        '204':
          description: Warehouse inbound receipt deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-inbound-receipts/{warehouseInboundReceipt}/pdf:
    parameters:
      - $ref: '#/components/parameters/WarehouseInboundReceiptId'
    get:
      tags: [Warehouse Inbound Receipts]
      summary: Download warehouse inbound receipt pdf
      operationId: downloadWarehouseInboundReceiptPdf
      description: Downloads the PDF export of a warehouse inbound receipt as an attachment (`application/pdf`). You can also find this endpoint URL in the `pdfDownloadUrl` field in the receipt detail.
      responses:
        '200':
          description: PDF export of the warehouse inbound receipt.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-outbound-receipts:
    get:
      tags: [Warehouse Outbound Receipts]
      summary: List warehouse outbound receipts
      operationId: listWarehouseOutboundReceipts
      description: Returns a paginated list of warehouse outbound receipts. The endpoint supports filtering by warehouse, client, and receipt number.
      parameters:
        - in: query
          name: warehouseId
          required: false
          description: Optional filter by a warehouse.
          schema:
            type: integer
          example: 301
        - in: query
          name: clientId
          required: false
          description: Optional filter by a client.
          schema:
            type: integer
          example: 101
        - in: query
          name: number
          required: false
          description: Optional substring filter by outbound receipt number.
          schema:
            type: string
          example: OUT-2026
        - in: query
          name: sortBy
          required: false
          description: Field used to sort the result set.
          schema:
            type: string
            enum: [number, issue_date, created_at, updated_at]
          example: number
        - in: query
          name: sortDirection
          required: false
          description: Sort direction.
          schema:
            type: string
            enum: [asc, desc]
          example: asc
        - in: query
          name: perPage
          required: false
          description: Number of results per page.
          schema:
            type: integer
            minimum: 1
            maximum: 200
          example: 25
        - in: query
          name: page
          required: false
          description: Page number.
          schema:
            type: integer
            minimum: 1
          example: 2
      responses:
        '200':
          description: Warehouse outbound receipt list.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Warehouse outbound receipts in the full detail resource shape.
                    type: array
                    items:
                      $ref: '#/components/schemas/WarehouseOutboundReceipt'
                  paginator:
                    description: Paginator for the current result set.
                    $ref: '#/components/schemas/Paginator'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Warehouse Outbound Receipts]
      summary: Create warehouse outbound receipt
      operationId: createWarehouseOutboundReceipt
      description: >-
        Creates a new warehouse outbound receipt. If you send `clientId`, the existing
        client is used. If you omit `clientId` and send the `client` object, the backend resolves or creates the
        client from that payload. The request uses the same stock availability validation as the web, so the
        endpoint returns `422` when available stock is insufficient.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseOutboundReceiptCreateInput'
      responses:
        '201':
          description: Warehouse outbound receipt created.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Original idempotency key when it was provided in the request.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` for the first processed request or `Repeated` when the original response is replayed.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseOutboundReceipt'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-outbound-receipts/{warehouseOutboundReceipt}:
    parameters:
      - $ref: '#/components/parameters/WarehouseOutboundReceiptId'
    get:
      tags: [Warehouse Outbound Receipts]
      summary: Show warehouse outbound receipt
      operationId: showWarehouseOutboundReceipt
      description: Returns one warehouse outbound receipt including warehouse detail, client snapshot, items, and `pdfDownloadUrl`.
      responses:
        '200':
          description: Warehouse outbound receipt detail.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseOutboundReceipt'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Warehouse Outbound Receipts]
      summary: Update warehouse outbound receipt
      operationId: updateWarehouseOutboundReceipt
      description: >-
        Updates an existing warehouse outbound receipt. The Fintoro API uses a full `PUT`
        contract and preserves the same stock availability validation as the create flow. The partner flow matches
        create: `clientId` uses an existing client, while `client` without `clientId` triggers resolve-or-create.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseOutboundReceiptUpdateInput'
      responses:
        '200':
          description: Warehouse outbound receipt updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseOutboundReceipt'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Warehouse Outbound Receipts]
      summary: Delete warehouse outbound receipt
      operationId: deleteWarehouseOutboundReceipt
      description: Deletes a warehouse outbound receipt. The endpoint does not return a response body after a successful delete.
      responses:
        '204':
          description: Warehouse outbound receipt deleted.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-outbound-receipts/{warehouseOutboundReceipt}/pdf:
    parameters:
[...]
