openapi: 3.1.0
info:
  title: Fintoro API v1
  version: "1.0.0"
  description: |
    Fintoro API v1 je REST API pre integráciu Fintoro fakturácie, CRM a skladového systému do systémov tretích strán.

    Produkčné aj sandboxové firmy používajú rovnakú základnú URL `https://app.fintoro.sk/api/public/v1`. O tom, s ktorou firmou pracujete, rozhoduje bearer token.

    Voliteľný request header `Accept-Language` lokalizuje systémové názvy v lookupoch, v súvisiacich objektoch v odpovediach aj vo validačných chybách. Response header `Content-Language` vracia jazyk použitý v odpovedi.

    Pre onboarding a prevádzkové pravidlá si pozrite aj:
    - [Začíname](/getting-started)
    - [Autentifikácia](/authentication)
    - [Webhooky](/webhooks)
    - [Testovanie v sandboxe](/sandbox-testing)
    - [Konvencie API](/conventions)
    - [Chyby a idempotencia](/errors-and-idempotency)
servers:
  - url: https://app.fintoro.sk/api/public/v1
    description: Produkčné Fintoro API.
security:
  - bearerAuth: []
x-tagGroups:
  - name: Základy integrácie
    tags:
      - Identita tokenu
      - Lookupy
      - Číselné rady
      - Subjekty
      - Klienti
      - Dodávatelia
      - Bankové účty
  - name: Webhooky
    tags:
      - Webhooky
  - name: CRM
    tags:
      - Stavy obchodných prípadov
      - Obchodné prípady
      - CRM udalosti
  - name: Sklady a katalóg
    tags:
      - Sklady
      - Skladové príjemky
      - Skladové výdajky
      - Skladové a cenníkové položky
  - name: Doklady
    tags:
      - Faktúry
      - Dobropisy
      - Zálohové faktúry
      - Objednávky
      - Cenové ponuky
      - Úhrady dokladov
      - Dokladové e-maily
tags:
  - name: Identita tokenu
    description: Technický read-only endpoint na overenie, ku ktorej firme bearer token aktuálne patrí.
  - name: Lookupy
    description: Endpointy len na čítanie pre integračné dáta. Tieto endpointy vracajú číselníky so stabilnými ID, ktoré môžete bezpečne ukladať do cache na svojej strane. Pri doplnení nových lookup hodnôt sa existujúce ID nemenia ani neprepisujú.
  - name: Číselné rady
    description: Endpointy len na čítanie nad číselnými radmi. Vracia sa aktuálna konfigurácia použitá pri tvorbe dokladov vrátane ďalšieho vygenerovaného čísla a variabilného symbolu.
  - name: Subjekty
    description: Vyhľadanie a overenie údajov o subjekte ešte pred vytvorením klienta.
  - name: Klienti
    description: Správa klientov vrátane fakturačnej adresy, dodacej adresy a klientských predvolených hodnôt použiteľných pri tvorbe nových dokladov. Create, update a delete operácie môžu emitovať webhook eventy `clients.created`, `clients.updated` a `clients.deleted`.
  - name: Dodávatelia
    description: Správa dodávateľov vrátane fakturačnej adresy a identifikačných údajov použiteľných aj pri resolve-or-create flowe skladových príjemiek. Create, update a delete operácie môžu emitovať webhook eventy `suppliers.created`, `suppliers.updated` a `suppliers.deleted`.
  - name: Stavy obchodných prípadov
    description: Správa stavov obchodných prípadov. Stavy reprezentujú stĺpce pipeline. Endpoint na zmenu poradia v tejto verzii dostupný nie je; pri zmazaní stavu sa naviazané obchodné prípady odviažu na `null`. Create, update a delete operácie môžu emitovať webhook eventy `business-case-statuses.created`, `business-case-statuses.updated` a `business-case-statuses.deleted`.
  - name: Obchodné prípady
    description: Správa obchodných prípadov vrátane vnoreného klienta alebo dodávateľa a voliteľného stavu. Zmena poradia ani zmena naviazaného kontaktu cez update v tejto verzii dostupné nie sú. Create, update a delete operácie môžu emitovať webhook eventy `business-cases.created`, `business-cases.updated` a `business-cases.deleted`.
  - name: CRM udalosti
    description: Správa CRM udalostí pre typy `note`, `email`, `phone_call` a `document_linked`. Attachmenty používajú dvojkrokový upload cez samostatný endpoint. Create, update a delete operácie môžu emitovať webhook eventy `contact-activity-logs.created`, `contact-activity-logs.updated` a `contact-activity-logs.deleted`.
  - name: Bankové účty
    description: Správa bankových účtov vrátane údajov o banke, primárnom účte a stave open banking napojenia. Create, update a delete operácie môžu emitovať webhook eventy `bank-accounts.created`, `bank-accounts.updated` a `bank-accounts.deleted`.
  - name: Webhooky
    description: Správa odberov webhookov pre Fintoro API. Táto sekcia pokrýva CRUD operácie nad odbermi, manuálnu rotáciu secretu a payload kontrakt pre integrácie riadené udalosťami. Kontrakt doručenia, overenie podpisu, retry mechanizmus a podrobný katalóg eventov nájdete v [príručke Webhooky](/webhooks).
  - name: Sklady
    description: CRUD operácie nad skladmi vrátane inbound a outbound číselných radov. Create, update a delete operácie môžu emitovať webhook eventy `warehouses.created`, `warehouses.updated` a `warehouses.deleted`.
  - name: Skladové príjemky
    description: CRUD operácie nad skladovými príjemkami vrátane detailu skladu, dodávateľského snapshotu, položiek a `pdfDownloadUrl`. Create, update a delete operácie môžu emitovať webhook eventy `warehouse-inbound-receipts.created`, `warehouse-inbound-receipts.updated` a `warehouse-inbound-receipts.deleted`.
  - name: Skladové výdajky
    description: CRUD operácie nad skladovými výdajkami vrátane detailu skladu, klientského snapshotu, položiek a `pdfDownloadUrl`. Create a update flow používajú rovnakú stock availability validáciu ako web. Create, update a delete operácie môžu emitovať webhook eventy `warehouse-outbound-receipts.created`, `warehouse-outbound-receipts.updated` a `warehouse-outbound-receipts.deleted`.
  - name: Skladové a cenníkové položky
    description: >-
      CRUD operácie nad skladovými a cenníkovými položkami. Endpointy vracajú jednotku ako vnorený objekt,
      podporujú filtrovanie podľa názvu, EANu, skladového kódu, ceny a stavu skladu a používajú rovnaký business kontrakt ako
      administrácia Fintoro pre warehouse evidenciu, EAN a nákupné ceny. Create, update a delete operácie môžu emitovať webhook eventy
      `price-list-items.created`, `price-list-items.updated` a `price-list-items.deleted`.
  - name: Úhrady dokladov
    description: >-
      Evidencia úhrad pre podporované doklady. Táto sekcia pokrýva zoznam úhrad konkrétneho dokladu, vytvorenie novej úhrady,
      detail jednej úhrady a jej zmazanie. Podporované typy dokladov sú `invoice`, `proforma`, `credit-note`,
      `received-invoice` a `received-receipt`. Create a delete operácie môžu emitovať webhook eventy
      `document-payments.created` a `document-payments.deleted`. Ak nová úhrada spôsobí, že podporovaný
      doklad sa stane plne uhradeným, môže sa navyše vyemitovať aj zodpovedajúci `*.paid` event pre daný resource dokladu.
  - name: Dokladové e-maily
    description: >-
      Odosielanie podporovaných public dokumentov emailom. Endpoint používa jednotný kontrakt nad kombináciou
      `documentType` + `documentId`, validuje vlastníctvo dokladu a podporuje typy `invoice`, `proforma`, `order`,
      `credit-note` a `quotation`.
  - name: Faktúry
    description: CRUD operácie nad faktúrami. Create, update a delete operácie môžu emitovať webhook eventy `invoices.created`, `invoices.updated` a `invoices.deleted`. Keď sa faktúra po zaevidovaní úhrady stane plne uhradenou, môže sa vyemitovať aj `invoices.paid`.
  - name: Dobropisy
    description: >-
      CRUD operácie nad dobropismi. Kontrakt používa camelCase payloady, plný `PUT` update flow a explicitnú väzbu
      na pôvodnú faktúru cez `invoiceId`. Klient dobropisu sa vždy odvodzuje zo zvolenej zdrojovej faktúry; `clientId` nie je súčasťou
      request kontraktu a inline client resolution ani create flow sa tu nepoužívajú. Create, update a delete operácie môžu emitovať
      webhook eventy `credit-notes.created`, `credit-notes.updated` a `credit-notes.deleted`. Keď sa dobropis po zaevidovaní úhrady
      stane plne uhradeným, môže sa vyemitovať aj `credit-notes.paid`.
  - name: Zálohové faktúry
    description: >-
      CRUD operácie nad zálohovými faktúrami. Kontrakt je navrhnutý rovnakou filozofiou ako Fintoro API faktúry:
      camelCase payloady, deterministický resolve/create klienta, create-like defaulty a plný `PUT` update flow bez patch fallbacku
      na pôvodný stav dokladu. Create, update a delete operácie môžu emitovať webhook eventy `proformas.created`, `proformas.updated`,
      `proformas.deleted` a pri plnom uhradení po zaevidovaní úhrady aj `proformas.paid`.
  - name: Objednávky
    description: >-
      CRUD operácie nad objednávkami. Kontrakt používa camelCase payloady, deterministický resolve/create klienta,
      create-like defaulty a plný `PUT` update flow bez patch fallbacku na pôvodný stav dokladu. Create, update a delete operácie môžu
      emitovať webhook eventy `orders.created`, `orders.updated` a `orders.deleted`.
  - name: Cenové ponuky
    description: >-
      CRUD operácie nad cenovými ponukami. Kontrakt používa camelCase payloady, deterministický resolve/create
      klienta, create-like defaulty a plný `PUT` update flow bez patch fallbacku na pôvodný stav dokladu.
      Create, update a delete operácie môžu emitovať webhook eventy `quotations.created`, `quotations.updated` a `quotations.deleted`.
paths:
  /whoami:
    get:
      tags: [Identita tokenu]
      summary: Identita aktuálnej firmy
      operationId: showWhoami
      description: Vráti minimálnu identitu firmy priradenej k bearer tokenu. Endpoint je vhodný na rýchle overenie, že integrácia pracuje so správnou produkčnou alebo sandbox firmou, bez potreby sťahovať ďalšie business dáta.
      responses:
        '200':
          description: Identita aktuálnej firmy.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Whoami'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /banks:
    get:
      tags: [Lookupy]
      summary: Zoznam bánk
      operationId: listBanks
      description: Vráti zoznam bánk, ktoré môžete použiť pri vytváraní alebo aktualizácii bankového účtu. Endpoint nepodporuje filtrovanie ani stránkovanie a vracia celý lookup dataset. Banky považujte za stabilný číselník; nové záznamy môžu pribúdať, no existujúce ID ostávajú zachované kvôli kompatibilite s uloženými bankovými účtami.
      responses:
        '200':
          description: Zoznam bánk.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Celý aktuálny zoznam bánk dostupných pre bankové účty.
                    type: array
                    items:
                      $ref: '#/components/schemas/Bank'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /countries:
    get:
      tags: [Lookupy]
      summary: Zoznam krajín
      operationId: listCountries
      description: Vráti fixný číselník krajín. Endpoint nepodporuje filtrovanie ani stránkovanie a vracia celý dataset. ID krajín sú stabilné v rámci tejto verzie API a nájdete ich aj v [referenčnej tabuľke krajín](/reference-tables#krajiny). Názvy sa dajú lokalizovať cez `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Zoznam krajín.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Celý zoznam krajín dostupných v tejto verzii API.
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /languages:
    get:
      tags: [Lookupy]
      summary: Zoznam jazykov
      operationId: listLanguages
      description: Vráti fixný číselník jazykov. Endpoint nepodporuje filtrovanie ani stránkovanie a vracia celý dataset. ID jazykov sú stabilné v rámci tejto verzie API a nájdete ich aj v [referenčnej tabuľke jazykov](/reference-tables#jazyky). Názvy sa dajú lokalizovať cez `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Zoznam jazykov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Celý zoznam jazykov dostupných v tejto verzii API.
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /currencies:
    get:
      tags: [Lookupy]
      summary: Zoznam mien
      operationId: listCurrencies
      description: Vráti fixný číselník mien. Endpoint nepodporuje filtrovanie ani stránkovanie a vracia celý dataset. ID mien sú stabilné v rámci tejto verzie API a nájdete ich aj v [referenčnej tabuľke mien](/reference-tables#meny). Názvy sa dajú lokalizovať cez `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Zoznam mien.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Celý zoznam mien dostupných v tejto verzii API.
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delivery-methods:
    get:
      tags: [Lookupy]
      summary: Zoznam spôsobov dodania
      operationId: listDeliveryMethods
      description: Vráti fixný číselník spôsobov dodania. Endpoint nepodporuje filtrovanie ani stránkovanie a vracia celý dataset. ID spôsobov dodania sú stabilné v rámci tejto verzie API a nájdete ich aj v [referenčnej tabuľke spôsobov dodania](/reference-tables#sposoby-dodania). Názvy sa dajú lokalizovať cez `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Zoznam spôsobov dodania.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Celý zoznam spôsobov dodania dostupných v tejto verzii API.
                    type: array
                    items:
                      $ref: '#/components/schemas/DeliveryMethod'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /payment-methods:
    get:
      tags: [Lookupy]
      summary: Zoznam spôsobov úhrady
      operationId: listPaymentMethods
      description: Vráti fixný číselník spôsobov úhrady. Endpoint nepodporuje filtrovanie ani stránkovanie a vracia celý dataset. ID spôsobov úhrady sú stabilné v rámci tejto verzie API a nájdete ich aj v [referenčnej tabuľke spôsobov úhrady](/reference-tables#sposoby-uhrady). Názvy sa dajú lokalizovať cez `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Zoznam spôsobov úhrady.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Celý zoznam spôsobov úhrady dostupných v tejto verzii API.
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /qr-types:
    get:
      tags: [Lookupy]
      summary: Zoznam QR typov
      operationId: listQrTypes
      description: Vráti fixný číselník QR typov. Endpoint nepodporuje filtrovanie ani stránkovanie a vracia celý dataset. ID QR typov sú stabilné v rámci tejto verzie API a nájdete ich aj v [referenčnej tabuľke QR typov](/reference-tables#qr-typy). Názvy sa dajú lokalizovať cez `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Zoznam QR typov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Celý zoznam QR typov dostupných v tejto verzii API.
                    type: array
                    items:
                      $ref: '#/components/schemas/QrType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /units:
    get:
      tags: [Lookupy]
      summary: Zoznam jednotiek
      operationId: listUnits
      description: Vráti fixný číselník jednotiek. Endpoint nepodporuje filtrovanie ani stránkovanie a vracia celý dataset. ID jednotiek sú stabilné v rámci tejto verzie API a nájdete ich aj v [referenčnej tabuľke jednotiek](/reference-tables#jednotky). Názvy sa dajú lokalizovať cez `Accept-Language`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Zoznam jednotiek.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Celý zoznam jednotiek dostupných v tejto verzii API.
                    type: array
                    items:
                      $ref: '#/components/schemas/Unit'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /numerical-series:
    get:
      tags: [Číselné rady]
      summary: Zoznam číselných radov
      operationId: listNumericalSeries
      description: Vráti číselné rady používané pri tvorbe public dokumentov. Endpoint nepoužíva stránkovanie; vracia celý relevantný dataset pre podporovaný document typ zadaný v povinnom query parametri `documentType`. Podporované hodnoty sú `invoice`, `proforma`, `credit-note`, `order` a `quotation`. Okrem interného počítadla `nextNumber` response vracia aj `nextDocumentNumber` a `nextVariableSymbol`, takže integrátor vie dopredu zistiť, aké číslo dokladu a variabilný symbol z konkrétneho radu vzniknú.
      parameters:
        - in: query
          name: documentType
          required: true
          description: Povinný document typ, pre ktorý sa má vrátiť relevantný dataset číselných radov.
          schema:
            type: string
            enum: [invoice, proforma, credit-note, order, quotation]
          example: invoice
      responses:
        '200':
          description: Zoznam číselných radov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Celý zoznam číselných radov pre zadaný document typ.
                    type: array
                    items:
                      $ref: '#/components/schemas/NumericalSeries'
        '422':
          description: Query parameter neprešiel validačnými pravidlami.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /numerical-series/{numericalSeries}:
    parameters:
      - $ref: '#/components/parameters/NumericalSeriesId'
    get:
      tags: [Číselné rady]
      summary: Detail číselného radu
      operationId: showNumericalSeries
      description: Vráti detail jedného číselného radu v rovnakom tvare ako list endpoint. Endpoint je vhodný vtedy, keď si chcete uložiť konkrétne `numericalSeriesId` a neskôr si ho overiť alebo znovu načítať pred vytvorením dokladu.
      responses:
        '200':
          description: Detail jedného číselného radu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumericalSeries'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /subjects:
    get:
      tags: [Subjekty]
      summary: Vyhľadávanie subjektov
      operationId: searchSubjects
      description: Tento endpoint použite, keď potrebujete dohľadať údaje o firme alebo živnostníkovi podľa názvu či IČO.
      parameters:
        - name: searchQuery
          in: query
          required: true
          description: Hľadaný reťazec. Môže to byť názov subjektu alebo IČO. Minimum sú 3 znaky.
          schema:
            type: string
            minLength: 3
            example: acme
        - name: legalForm
          in: query
          required: false
          description: Voliteľný filter podľa právnej formy, ak chcete výsledky zúžiť len na firmy alebo živnostníkov.
          schema:
            type: string
            enum: [freelancer, company]
            example: company
        - name: limit
          in: query
          required: false
          description: Maximálny počet výsledkov, ktoré endpoint vráti.
          schema:
            type: integer
            minimum: 1
            maximum: 20
            example: 5
      responses:
        '200':
          description: Vracia zodpovedajúce subjekty z referenčného registra.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Zoznam nájdených subjektov.
                    type: array
                    items:
                      $ref: '#/components/schemas/Subject'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /subjects/{subject}:
    parameters:
      - $ref: '#/components/parameters/SubjectId'
    get:
      tags: [Subjekty]
      summary: Detail subjektu
      operationId: showSubject
      description: Vráti jeden konkrétny subjekt z referenčného registra podľa jeho ID.
      responses:
        '200':
          description: Vracia detail požadovaného subjektu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /clients:
    get:
      tags: [Klienti]
      summary: Zoznam klientov
      operationId: listClients
      description: Vráti klientov. Endpoint je vhodný na synchronizáciu klientov do externého systému alebo vlastného frontendu a podporuje základné fulltextové vyhľadávanie, filtrovanie a triedenie.
      parameters:
        - name: search
          in: query
          required: false
          description: Fulltextové vyhľadávanie podľa názvu, mesta, PSČ alebo krajiny.
          schema:
            type: string
            example: bratislava
        - name: sortBy
          in: query
          required: false
          description: Pole, podľa ktorého sa majú klienti zoradiť.
          schema:
            type: string
            enum: [name, city, zip, countryId, createdAt, updatedAt]
            example: name
            default: name
        - name: sortDirection
          in: query
          required: false
          description: Smer zoradenia.
          schema:
            type: string
            enum: [asc, desc]
            example: desc
            default: asc
        - name: type
          in: query
          required: false
          description: Filter podľa typu klienta.
          schema:
            type: string
            enum: [person, company]
            example: company
        - name: subjectId
          in: query
          required: false
          description: Filter podľa IČO klienta alebo firmy.
          schema:
            type: string
            example: '12345678'
        - name: taxId
          in: query
          required: false
          description: Filter podľa DIČ klienta alebo firmy.
          schema:
            type: string
            example: '2020123456'
        - name: vatId
          in: query
          required: false
          description: Filter podľa IČ DPH klienta alebo firmy.
          schema:
            type: string
            example: SK2020123456
        - name: countryId
          in: query
          required: false
          description: "Filter podľa fakturačnej krajiny klienta z [referenčnej tabuľky krajín](/reference-tables#krajiny)."
          schema:
            type: integer
            example: 703
      responses:
        '200':
          description: Zoznam klientov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Zoznam klientov.
                    type: array
                    items:
                      $ref: '#/components/schemas/Client'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Klienti]
      summary: Vytvoriť klienta
      operationId: createClient
      description: Vytvorí nového klienta. V requeste posielate business údaje klienta a voliteľné klientské predvolené hodnoty, ktoré sa ukladajú pri klientovi a pri tvorbe nových dokladov sa používajú ako fallback predvolené hodnoty, ak explicitnú hodnotu nepošlete v payloade. Ak pošlete `Idempotency-Key`, rovnaký key s rovnakým payloadom vráti pôvodnú odpoveď bez druhého vytvorenia klienta.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreateInput'
      responses:
        '201':
          description: Klient bol vytvorený.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Pôvodný idempotency key, ak bol poslaný v requeste.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` pri prvom spracovaní alebo `Repeated` pri vrátení pôvodnej odpovede.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '422':
          description: Idempotency key bol znovu použitý s iným payloadom.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Idempotency-Key reused with different request payload
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /clients/{client}:
    parameters:
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Klienti]
      summary: Detail klienta
      operationId: showClient
      description: Vráti detail jedného klienta vrátane vnorených krajín a klientských predvolených hodnôt, ktoré môžete použiť pri tvorbe nových dokladov.
      responses:
        '200':
          description: Detail klienta.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Klienti]
      summary: Upraviť klienta
      operationId: updateClient
      description: Aktualizuje klienta cez plnohodnotný `PUT` payload. Pošlite rovnaké polia ako pri vytvorení klienta. Endpoint nehydratuje chýbajúce polia z existujúcich dát klienta; ak optional pole vynecháte, uloží sa jeho create default alebo `null` podľa create kontraktu. Polia dodacej adresy a inferované hodnoty sa správajú rovnako ako pri vytvorení klienta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreateInput'
      responses:
        '200':
          description: Klient bol aktualizovaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Klienti]
      summary: Zmazať klienta
      operationId: deleteClient
      description: Zmaže klienta. Po úspešnom zmazaní endpoint nevracia response body.
      responses:
        '204':
          description: Klient bol zmazaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /suppliers:
    get:
      tags: [Dodávatelia]
      summary: Zoznam dodávateľov
      operationId: listSuppliers
      description: Vráti dodávateľov. Endpoint je vhodný na synchronizáciu dodávateľov do externého systému alebo vlastného frontendu a podporuje základné fulltextové vyhľadávanie aj triedenie.
      parameters:
        - name: search
          in: query
          required: false
          description: Fulltextové vyhľadávanie podľa názvu, mesta, PSČ alebo krajiny.
          schema:
            type: string
            example: bratislava
        - name: sortBy
          in: query
          required: false
          description: Pole, podľa ktorého sa majú dodávatelia zoradiť.
          schema:
            type: string
            enum: [name, city, zip, createdAt, updatedAt]
            example: name
            default: name
        - name: sortDirection
          in: query
          required: false
          description: Smer zoradenia.
          schema:
            type: string
            enum: [asc, desc]
            example: desc
            default: asc
      responses:
        '200':
          description: Zoznam dodávateľov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Zoznam dodávateľov.
                    type: array
                    items:
                      $ref: '#/components/schemas/Supplier'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Dodávatelia]
      summary: Vytvoriť dodávateľa
      operationId: createSupplier
      description: Vytvorí nového dodávateľa. Ak nepošlete `type`, backend ho inferuje z identifikačných polí `subjectId`, `taxId` a `vatId`. Ak nepošlete `isVatPayer`, backend ho inferuje z prítomnosti `vatId`. Ak pošlete `Idempotency-Key`, rovnaký key s rovnakým payloadom vráti pôvodnú odpoveď bez druhého vytvorenia dodávateľa.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierCreateInput'
      responses:
        '201':
          description: Dodávateľ bol vytvorený.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Pôvodný idempotency key, ak bol poslaný v requeste.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` pri prvom spracovaní alebo `Repeated` pri vrátení pôvodnej odpovede.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '422':
          description: Validation error alebo opätovné použitie idempotency key s iným payloadom.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  error:
                    type: [string, 'null']
                    example: Idempotency-Key reused with different request payload
                  errors:
                    type: [object, 'null']
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /suppliers/{supplier}:
    parameters:
      - $ref: '#/components/parameters/SupplierId'
    get:
      tags: [Dodávatelia]
      summary: Detail dodávateľa
      operationId: showSupplier
      description: Vráti detail jedného dodávateľa vrátane vnoreného objektu krajiny.
      responses:
        '200':
          description: Detail dodávateľa.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Dodávatelia]
      summary: Upraviť dodávateľa
      operationId: updateSupplier
      description: Aktualizuje dodávateľa cez full `PUT` payload. Pošlite celý payload v rovnakom tvare ako pri vytvorení. Backend pri update nedoťahuje vynechané polia z existujúcich dát. Pri inferred poliach `type` a `isVatPayer` platí rovnaké správanie ako pri vytvorení dodávateľa.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierCreateInput'
      responses:
        '200':
          description: Dodávateľ bol aktualizovaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Dodávatelia]
      summary: Zmazať dodávateľa
      operationId: deleteSupplier
      description: Zmaže dodávateľa. Endpoint po úspešnom spracovaní nevracia response body.
      responses:
        '204':
          description: Dodávateľ bol zmazaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /business-case-statuses:
    get:
      tags: [Stavy obchodných prípadov]
      summary: Zoznam stavov obchodných prípadov
      operationId: listBusinessCaseStatuses
      description: Vráti všetky statusy obchodných prípadov v poradí podľa ich pozície v pipeline. Endpoint nepodporuje filtrovanie ani stránkovanie a je vhodný najmä na synchronizáciu pipeline stĺpcov do externého CRM alebo vlastného frontendu.
      responses:
        '200':
          description: Zoznam stavov obchodných prípadov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Zoznam všetkých statusov.
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessCaseStatus'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Stavy obchodných prípadov]
      summary: Vytvoriť stav obchodného prípadu
      operationId: createBusinessCaseStatus
      description: Vytvorí nový stav obchodného prípadu. Nový stav sa zaradí na koniec existujúcej pipeline. Ak pošlete `Idempotency-Key`, opakované create volanie s rovnakým kľúčom a rovnakým payloadom vráti pôvodnú odpoveď bez druhého vytvorenia stavu.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCaseStatusInput'
      responses:
        '201':
          description: Stav obchodného prípadu bol vytvorený.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Pôvodný idempotency key, ak bol poslaný v requeste.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` pri prvom spracovaní alebo `Repeated` pri vrátení pôvodnej odpovede.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCaseStatus'
        '422':
          description: Validačná chyba alebo opätovné použitie idempotency key s iným payloadom.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: The given data was invalid.
                      errors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: string
                  - type: object
                    properties:
                      error:
                        type: string
                        example: Idempotency-Key reused with different request payload
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /business-case-statuses/{businessCaseStatus}:
    parameters:
      - $ref: '#/components/parameters/BusinessCaseStatusId'
    get:
      tags: [Stavy obchodných prípadov]
      summary: Detail stavu obchodného prípadu
      operationId: showBusinessCaseStatus
      description: Vráti detail jedného stavu obchodného prípadu.
      responses:
        '200':
          description: Detail stavu obchodného prípadu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCaseStatus'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Stavy obchodných prípadov]
      summary: Upraviť stav obchodného prípadu
      operationId: updateBusinessCaseStatus
      description: Aktualizuje jeden stav obchodného prípadu. Payload je plný `PUT` kontrakt a vyžaduje `name` aj `color`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCaseStatusInput'
      responses:
        '200':
          description: Stav obchodného prípadu bol aktualizovaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCaseStatus'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validačná chyba request payloadu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Stavy obchodných prípadov]
      summary: Zmazať stav obchodného prípadu
      operationId: deleteBusinessCaseStatus
      description: Zmaže stav obchodného prípadu. Po úspešnom spracovaní endpoint nevracia response body. Naviazané obchodné prípady zostanú zachované a ich `statusId` sa automaticky nastaví na `null`.
      responses:
        '204':
          description: Stav obchodného prípadu bol zmazaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /business-cases:
    get:
      tags: [Obchodné prípady]
      summary: Zoznam obchodných prípadov
      operationId: listBusinessCases
      description: Vráti obchodné prípady aktuálnej firmy. Endpoint podporuje filtrovanie podľa klienta, dodávateľa, stavu a fulltextové vyhľadávanie v názve alebo popise. Response vždy vracia vnorený objekt klienta alebo dodávateľa podľa reality záznamu, voliteľný vnorený stav a paginator pre stránkovanie.
      parameters:
        - name: clientId
          in: query
          required: false
          description: "Filter podľa klienta patriaceho. Pole je vzájomne exkluzívne so `supplierId`."
          schema:
            type: integer
            example: 101
        - name: supplierId
          in: query
          required: false
          description: "Filter podľa dodávateľa patriaceho. Pole je vzájomne exkluzívne s `clientId`."
          schema:
            type: integer
            example: 151
        - name: statusId
          in: query
          required: false
          description: Filter podľa stavu obchodného prípadu.
          schema:
            type: [integer, 'null']
            example: 41
        - name: search
          in: query
          required: false
          description: Fulltextové vyhľadávanie podľa názvu alebo popisu obchodného prípadu.
          schema:
            type: string
            maxLength: 255
            example: keyword
        - name: sortBy
          in: query
          required: false
          description: Pole, podľa ktorého sa majú obchodné prípady zoradiť.
          schema:
            type: string
            enum: [name, createdAt, updatedAt, boardPosition]
            example: updatedAt
            default: id
        - name: sortDirection
          in: query
          required: false
          description: Smer zoradenia.
          schema:
            type: string
            enum: [asc, desc]
            example: desc
            default: desc
        - name: perPage
          in: query
          required: false
          description: Počet výsledkov na stránku. Maximum je 200.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 10
            default: 10
        - name: page
          in: query
          required: false
          description: Číslo stránky, ktorá sa má vrátiť.
          schema:
            type: integer
            minimum: 1
            example: 1
            default: 1
      responses:
        '200':
          description: Zoznam obchodných prípadov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Zoznam obchodných prípadov.
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessCase'
                  paginator:
                    description: Paginator pre aktuálny výsledkový set.
                    $ref: '#/components/schemas/Paginator'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validačná chyba query parametrov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Obchodné prípady]
      summary: Vytvoriť obchodný prípad
      operationId: createBusinessCase
      description: Vytvorí nový obchodný prípad. V requeste musíte poslať presne jedno z polí `clientId` alebo `supplierId`. `statusId` je voliteľné a môže byť `null`. Ak pošlete `Idempotency-Key`, opakované create volanie s rovnakým key a rovnakým payloadom vráti pôvodnú odpoveď bez druhého vytvorenia prípadu.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCaseCreateInput'
      responses:
        '201':
          description: Obchodný prípad bol vytvorený.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Pôvodný idempotency key, ak bol poslaný v requeste.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` pri prvom spracovaní alebo `Repeated` pri vrátení pôvodnej odpovede.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCase'
        '422':
          description: Validačná chyba alebo opätovné použitie idempotency key s iným payloadom.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: The given data was invalid.
                      errors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: string
                  - type: object
                    properties:
                      error:
                        type: string
                        example: Idempotency-Key reused with different request payload
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /business-cases/{businessCase}:
    parameters:
      - $ref: '#/components/parameters/BusinessCaseId'
    get:
      tags: [Obchodné prípady]
      summary: Detail obchodného prípadu
      operationId: showBusinessCase
      description: Vráti detail jedného obchodného prípadu vrátane vnoreného klienta alebo dodávateľa a voliteľného stavu.
      responses:
        '200':
          description: Detail obchodného prípadu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCase'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      tags: [Obchodné prípady]
      summary: Upraviť obchodný prípad
      operationId: updateBusinessCase
      description: Čiastočne aktualizuje obchodný prípad. Môžete meniť `name`, `description` a `statusId`, pričom `statusId` môže byť aj `null`. Väzbu na klienta alebo dodávateľa tento endpoint nemení; polia `clientId` a `supplierId` sú pri update zakázané a vrátia validačnú chybu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCaseUpdateInput'
      responses:
        '200':
          description: Obchodný prípad bol aktualizovaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCase'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validačná chyba request payloadu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Obchodné prípady]
      summary: Zmazať obchodný prípad
      operationId: deleteBusinessCase
      description: Zmaže obchodný prípad. Po úspešnom spracovaní endpoint nevracia response body.
      responses:
        '204':
          description: Obchodný prípad bol zmazaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact-activity-attachments:
    post:
      tags: [CRM udalosti]
      summary: Nahrať prílohy CRM udalosti
      operationId: uploadContactActivityAttachments
      description: Nahraje jednu alebo viac príloh do temporary storage a vráti `uploadToken` hodnoty použiteľné v `attachmentUploadTokens[]` pri create alebo update `contact-activity-logs`. Tento endpoint používa `multipart/form-data` a neberie Filepond server IDs.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [files]
              properties:
                files:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: binary
      responses:
        '201':
          description: Temporary upload tokeny pre nahraté prílohy.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactActivityLogAttachmentUpload'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validačná chyba multipart payloadu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact-activity-logs:
    get:
      tags: [CRM udalosti]
      summary: Zoznam CRM udalostí
      operationId: listContactActivityLogs
      description: Vráti CRM udalosti. Query musí obsahovať presne jedno target pole z `businessCaseId`, `clientId` alebo `supplierId`. Voliteľne môžete filtrovať podľa `type` a stránkovať pomocou `perPage` a `page`.
      parameters:
        - name: businessCaseId
          in: query
          required: false
          description: ID obchodného prípadu patriaceho. Pole je vzájomne exkluzívne s `clientId` a `supplierId`.
          schema:
            type: integer
            example: 501
        - name: clientId
          in: query
          required: false
          description: ID klienta patriaceho. Pole je vzájomne exkluzívne s `businessCaseId` a `supplierId`.
          schema:
            type: integer
            example: 101
        - name: supplierId
          in: query
          required: false
          description: ID dodávateľa patriaceho. Pole je vzájomne exkluzívne s `businessCaseId` a `clientId`.
          schema:
            type: integer
            example: 151
        - name: type
          in: query
          required: false
          description: Voliteľný filter podľa typu CRM udalosti.
          schema:
            type: string
            enum: [note, email, phone_call, document_linked]
            example: note
        - name: perPage
          in: query
          required: false
          description: Počet výsledkov na stránku. Maximum je 200.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 10
            default: 10
        - name: page
          in: query
          required: false
          description: Číslo stránky, ktorá sa má vrátiť.
          schema:
            type: integer
            minimum: 1
            example: 1
            default: 1
      responses:
        '200':
          description: Zoznam CRM udalostí.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactActivityLog'
                  paginator:
                    $ref: '#/components/schemas/Paginator'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validačná chyba query parametrov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [CRM udalosti]
      summary: Vytvoriť CRM udalosť
      operationId: createContactActivityLog
      description: >-
        Vytvorí novú CRM udalosť. Musíte poslať presne jeden target z `businessCaseId`, `clientId`
        alebo `supplierId`, `type`, `metadata` a voliteľne `attachmentUploadTokens[]`. Pre `document_linked`
        použite `metadata.documentType` a `metadata.documentId`; attachmenty sa pri tomto type nepodporujú.
        Ak pošlete `Idempotency-Key`, opakované create volanie s rovnakým key a rovnakým payloadom vráti
        pôvodnú odpoveď bez druhého vytvorenia udalosti. Dostupnosť jednotlivých metadata polí je popísaná
        priamo pri `metadata.content`, `metadata.email`, `metadata.personName`, `metadata.phoneNumber`,
        `metadata.documentType` a `metadata.documentId`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactActivityLogCreateInput'
      responses:
        '201':
          description: CRM udalosť bola vytvorená.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Pôvodný idempotency key, ak bol poslaný v requeste.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` pri prvom spracovaní alebo `Repeated` pri vrátení pôvodnej odpovede.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactActivityLog'
        '422':
          description: Validačná chyba alebo opätovné použitie idempotency key s iným payloadom.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: The given data was invalid.
                      errors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: string
                  - type: object
                    properties:
                      error:
                        type: string
                        example: Idempotency-Key reused with different request payload
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact-activity-logs/{contactActivityLog}:
    parameters:
      - $ref: '#/components/parameters/ContactActivityLogId'
    get:
      tags: [CRM udalosti]
      summary: Detail CRM udalosti
      operationId: showContactActivityLog
      description: Vráti detail jednej CRM udalosti vrátane metadata payloadu a zoznamu príloh.
      responses:
        '200':
          description: Detail CRM udalosti.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactActivityLog'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      tags: [CRM udalosti]
      summary: Upraviť CRM udalosť
      operationId: updateContactActivityLog
      description: >-
        Čiastočne aktualizuje CRM udalosť. Meniteľné sú iba `metadata`, `attachmentUploadTokens[]`
        a `deletedAttachmentIds[]`; `type` a target polia sú pri update zakázané. Pri `document_linked`
        type sa attachmenty nepodporujú. Dostupnosť jednotlivých metadata polí je popísaná priamo pri
        `metadata.content`, `metadata.email`, `metadata.personName`, `metadata.phoneNumber`,
        `metadata.documentType` a `metadata.documentId`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactActivityLogUpdateInput'
      responses:
        '200':
          description: CRM udalosť bola aktualizovaná.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactActivityLog'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validačná chyba request payloadu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The given data was invalid.
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [CRM udalosti]
      summary: Zmazať CRM udalosť
      operationId: deleteContactActivityLog
      description: Zmaže CRM udalosť. Po úspešnom spracovaní endpoint nevracia response body.
      responses:
        '204':
          description: CRM udalosť bola zmazaná.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact-activity-logs/{contactActivityLog}/attachments:
    parameters:
      - $ref: '#/components/parameters/ContactActivityLogId'
    get:
      tags: [CRM udalosti]
      summary: Stiahnuť prílohy CRM udalosti
      operationId: downloadContactActivityLogAttachments
      description: Vráti ZIP stream príloh danej CRM udalosti. Ak udalosť prílohy nemá, endpoint vráti `404`.
      responses:
        '200':
          description: ZIP archív príloh CRM udalosti.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bank-accounts:
    get:
      tags: [Bankové účty]
      summary: Zoznam bankových účtov
      operationId: listBankAccounts
      description: Vráti všetky bankové účty v jednom zozname. Endpoint nepodporuje filtrovanie ani stránkovanie, preto je vhodný najmä na synchronizáciu účtov do externého systému alebo vlastného frontendu.
      responses:
        '200':
          description: Zoznam bankových účtov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Zoznam všetkých bankových účtov.
                    type: array
                    items:
                      $ref: '#/components/schemas/BankAccount'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Bankové účty]
      summary: Vytvoriť bankový účet
      operationId: createBankAccount
      description: Vytvorí nový bankový účet. V requeste posielate len business údaje účtu. Novovytvorený účet sa v aktuálnej implementácii vždy nastaví ako primárny účet firmy, preto sa tento stav v create payloade neposiela. Odpoveď vráti výsledný uložený objekt vrátane informácie, či je účet aktuálne vedený ako primárny a či je napojený na open banking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountCreateInput'
      responses:
        '201':
          description: Bankový účet bol vytvorený.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bank-accounts/{bankAccount}:
    parameters:
      - $ref: '#/components/parameters/BankAccountId'
    get:
      tags: [Bankové účty]
      summary: Detail bankového účtu
      operationId: showBankAccount
      description: Vráti detail jedného bankového účtu. Okrem samotných údajov o účte vracia aj vnorený objekt banky, stav primárneho účtu a open banking metadata, ak sú dostupné.
      responses:
        '200':
          description: Detail bankového účtu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      tags: [Bankové účty]
      summary: Upraviť bankový účet
      operationId: updateBankAccount
      description: |
        Aktualizuje bankový účet. Pošlite len polia, ktoré chcete zmeniť.
        Ak pošlete `isPrimary: true`, účet sa nastaví ako primárny účet firmy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountUpdateInput'
      responses:
        '200':
          description: Bankový účet bol aktualizovaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Bankové účty]
      summary: Zmazať bankový účet
      operationId: deleteBankAccount
      description: Zmaže bankový účet. Po úspešnom spracovaní endpoint nevracia response body.
      responses:
        '204':
          description: Bankový účet bol zmazaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouses:
    get:
      tags: [Sklady]
      summary: Zoznam skladov
      operationId: listWarehouses
      description: Vráti všetky sklady v jednom zozname. Endpoint nepodporuje filtrovanie ani stránkovanie, preto je vhodný najmä na synchronizáciu skladov do externého systému alebo vlastného frontendu.
      responses:
        '200':
          description: Zoznam skladov.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Zoznam všetkých skladov.
                    type: array
                    items:
                      $ref: '#/components/schemas/Warehouse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Sklady]
      summary: Vytvoriť sklad
      operationId: createWarehouse
      description: Vytvorí nový sklad vrátane inbound a outbound číselného radu. Response vracia výsledný uložený warehouse objekt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseCreateInput'
      responses:
        '201':
          description: Sklad bol vytvorený.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouses/{warehouse}:
    parameters:
      - $ref: '#/components/parameters/WarehouseId'
    get:
      tags: [Sklady]
      summary: Detail skladu
      operationId: showWarehouse
      description: Vráti detail jedného skladu vrátane kompletnej konfigurácie inbound a outbound číselného radu.
      responses:
        '200':
          description: Detail skladu.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Sklady]
      summary: Upraviť sklad
      operationId: updateWarehouse
      description: Aktualizuje sklad. Fintoro API používa plný `PUT` kontrakt, preto pošlite celý payload skladu vrátane číselných radov.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseUpdateInput'
      responses:
        '200':
          description: Sklad bol aktualizovaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Sklady]
      summary: Zmazať sklad
      operationId: deleteWarehouse
      description: Zmaže sklad. Posledný sklad firmy nie je možné zmazať; v takom prípade endpoint vráti `422`.
      responses:
        '204':
          description: Sklad bol zmazaný.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-inbound-receipts:
    get:
      tags: [Skladové príjemky]
      summary: Zoznam skladových príjemiek
      operationId: listWarehouseInboundReceipts
      description: Vráti paginovaný zoznam skladových príjemiek. Endpoint podporuje filtrovanie podľa skladu, dodávateľa a čísla dokladu.
      parameters:
        - in: query
          name: warehouseId
          required: false
          description: Voliteľný filter podľa skladu.
          schema:
            type: integer
          example: 301
        - in: query
          name: supplierId
          required: false
          description: Voliteľný filter podľa dodávateľa.
          schema:
            type: integer
          example: 401
        - in: query
          name: number
          required: false
          description: Voliteľný substring filter podľa čísla príjemky.
          schema:
            type: string
          example: PRI-2026
        - in: query
          name: sortBy
          required: false
          description: Pole, podľa ktorého sa zoradí výsledok.
          schema:
            type: string
            enum: [number, issue_date, created_at, updated_at]
          example: number
        - in: query
          name: sortDirection
          required: false
          description: Smer radenia.
          schema:
            type: string
            enum: [asc, desc]
          example: asc
        - in: query
          name: perPage
          required: false
          description: Počet výsledkov na stránku.
          schema:
            type: integer
            minimum: 1
            maximum: 200
          example: 25
        - in: query
          name: page
          required: false
          description: Číslo strany.
          schema:
            type: integer
            minimum: 1
          example: 2
      responses:
        '200':
          description: Zoznam skladových príjemiek.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Zoznam skladových príjemiek v detailnom resource tvare.
                    type: array
                    items:
                      $ref: '#/components/schemas/WarehouseInboundReceipt'
                  paginator:
                    description: Paginator pre aktuálny výsledkový set.
                    $ref: '#/components/schemas/Paginator'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Skladové príjemky]
      summary: Vytvoriť skladovú príjemku
      operationId: createWarehouseInboundReceipt
      description: >-
        Vytvorí novú skladovú príjemku. Ak pošlete `supplierId`, použije sa existujúci dodávateľ.
        Ak `supplierId` nepošlete a pošlete objekt `supplier`, backend podľa týchto údajov dodávateľa dopáruje
        alebo vytvorí. Ak pošlete `Idempotency-Key`, opakované create volanie s rovnakým payloadom vráti
        pôvodnú odpoveď.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseInboundReceiptCreateInput'
      responses:
        '201':
          description: Skladová príjemka bola vytvorená.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Pôvodný idempotency key, ak bol poslaný v requeste.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` pri prvom spracovaní alebo `Repeated` pri vrátení pôvodnej odpovede.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseInboundReceipt'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-inbound-receipts/{warehouseInboundReceipt}:
    parameters:
      - $ref: '#/components/parameters/WarehouseInboundReceiptId'
    get:
      tags: [Skladové príjemky]
      summary: Detail skladovej príjemky
      operationId: showWarehouseInboundReceipt
      description: Vráti detail jednej skladovej príjemky vrátane skladu, dodávateľského snapshotu, položiek a `pdfDownloadUrl`.
      responses:
        '200':
          description: Detail skladovej príjemky.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseInboundReceipt'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Skladové príjemky]
      summary: Upraviť skladovú príjemku
      operationId: updateWarehouseInboundReceipt
      description: >-
        Aktualizuje existujúcu skladovú príjemku. Fintoro API používa plný `PUT` kontrakt, preto
        pošlite celé hlavičkové aj položkové dáta príjemky. Partner flow je rovnaký ako pri create:
        `supplierId` použije existujúceho dodávateľa, objekt `supplier` bez `supplierId` spustí resolve-or-create
        flow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseInboundReceiptUpdateInput'
      responses:
        '200':
          description: Skladová príjemka bola aktualizovaná.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseInboundReceipt'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Skladové príjemky]
      summary: Zmazať skladovú príjemku
      operationId: deleteWarehouseInboundReceipt
      description: Zmaže skladovú príjemku. Endpoint po úspešnom spracovaní nevracia response body.
      responses:
        '204':
          description: Skladová príjemka bola zmazaná.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-inbound-receipts/{warehouseInboundReceipt}/pdf:
    parameters:
      - $ref: '#/components/parameters/WarehouseInboundReceiptId'
    get:
      tags: [Skladové príjemky]
      summary: Stiahnuť skladovú príjemku ako pdf
      operationId: downloadWarehouseInboundReceiptPdf
      description: Stiahne PDF export skladovej príjemky ako prílohu (`application/pdf`). URL tohto endpointu nájdete aj v poli `pdfDownloadUrl` v detaile príjemky.
      responses:
        '200':
          description: PDF export skladovej príjemky.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-outbound-receipts:
    get:
      tags: [Skladové výdajky]
      summary: Zoznam skladových výdajok
      operationId: listWarehouseOutboundReceipts
      description: Vráti paginovaný zoznam skladových výdajok. Endpoint podporuje filtrovanie podľa skladu, klienta a čísla dokladu.
      parameters:
        - in: query
          name: warehouseId
          required: false
          description: Voliteľný filter podľa skladu.
          schema:
            type: integer
          example: 301
        - in: query
          name: clientId
          required: false
          description: Voliteľný filter podľa klienta.
          schema:
            type: integer
          example: 101
        - in: query
          name: number
          required: false
          description: Voliteľný substring filter podľa čísla výdajky.
          schema:
            type: string
          example: VYD-2026
        - in: query
          name: sortBy
          required: false
          description: Pole, podľa ktorého sa zoradí výsledok.
          schema:
            type: string
            enum: [number, issue_date, created_at, updated_at]
          example: number
        - in: query
          name: sortDirection
          required: false
          description: Smer radenia.
          schema:
            type: string
            enum: [asc, desc]
          example: asc
        - in: query
          name: perPage
          required: false
          description: Počet výsledkov na stránku.
          schema:
            type: integer
            minimum: 1
            maximum: 200
          example: 25
        - in: query
          name: page
          required: false
          description: Číslo strany.
          schema:
            type: integer
            minimum: 1
          example: 2
      responses:
        '200':
          description: Zoznam skladových výdajok.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Zoznam skladových výdajok v detailnom resource tvare.
                    type: array
                    items:
                      $ref: '#/components/schemas/WarehouseOutboundReceipt'
                  paginator:
                    description: Paginator pre aktuálny výsledkový set.
                    $ref: '#/components/schemas/Paginator'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [Skladové výdajky]
      summary: Vytvoriť skladovú výdajku
      operationId: createWarehouseOutboundReceipt
      description: >-
        Vytvorí novú skladovú výdajku. Ak pošlete `clientId`, použije sa existujúci klient.
        Ak `clientId` nepošlete a pošlete objekt `client`, backend podľa týchto údajov klienta dopáruje alebo
        vytvorí. Request používa rovnakú stock availability validáciu ako web, preto pri nedostatočnom stave
        skladu endpoint vráti `422`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseOutboundReceiptCreateInput'
      responses:
        '201':
          description: Skladová výdajka bola vytvorená.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Idempotency-Key:
              description: Pôvodný idempotency key, ak bol poslaný v requeste.
              schema:
                type: string
            Idempotency-Status:
              description: '`Original` pri prvom spracovaní alebo `Repeated` pri vrátení pôvodnej odpovede.'
              schema:
                type: string
                enum: [Original, Repeated]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseOutboundReceipt'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-outbound-receipts/{warehouseOutboundReceipt}:
    parameters:
      - $ref: '#/components/parameters/WarehouseOutboundReceiptId'
    get:
      tags: [Skladové výdajky]
      summary: Detail skladovej výdajky
      operationId: showWarehouseOutboundReceipt
      description: Vráti detail jednej skladovej výdajky vrátane skladu, klientského snapshotu, položiek a `pdfDownloadUrl`.
      responses:
        '200':
          description: Detail skladovej výdajky.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseOutboundReceipt'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [Skladové výdajky]
      summary: Upraviť skladovú výdajku
      operationId: updateWarehouseOutboundReceipt
      description: >-
        Aktualizuje existujúcu skladovú výdajku. Fintoro API používa plný `PUT` kontrakt a zachováva
        rovnakú stock availability validáciu ako create flow. Partner flow je rovnaký ako pri create:
        `clientId` použije existujúceho klienta, objekt `client` bez `clientId` spustí resolve-or-create flow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseOutboundReceiptUpdateInput'
      responses:
        '200':
          description: Skladová výdajka bola aktualizovaná.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseOutboundReceipt'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [Skladové výdajky]
      summary: Zmazať skladovú výdajku
      operationId: deleteWarehouseOutboundReceipt
      description: Zmaže skladovú výdajku. Endpoint po úspešnom spracovaní nevracia response body.
      responses:
        '204':
          description: Skladová výdajka bola zmazaná.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /warehouse-outbound-receipts/{warehouseOutboundReceipt}/pdf:
    parameters:
      - $ref: '#/components/parameters/WarehouseOutboundReceiptId'
    get:
      tags: [Skladové výdajky]
      summary: Stiahnuť skladovú výdajku ako pdf
      operationId: downloadWarehouseOutboundReceiptPdf
      description: Stiahne PDF export skladovej výdajky ako prílohu (`application/pdf`). URL tohto endpointu nájdete aj v poli `pdfDownloadUrl` v detaile výdajky.
      responses:
        '200':
          description: PDF export skladovej výdajky.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
[...]
